@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Playfair+Display:wght@400;600&display=swap');

/* Body text */
body {
  font-family: "Inter", sans-serif;
  color: #;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}

/* Make all actual page headings cream */
h1, h2, h3, h4, h5, h6 {
  color: #F5E9D3 !important;
}
